.footer{
  background-color: #3F51B5;
  color: white;
  height: 250px;
  width: 100%;
  text-align: center;
  padding-top: 100px;
}

.cardDiv{
  background-color: beige;
  height: 800px;
  width: 100%;
  padding-top: 30px;
}

.mianCardDiv{
  float: left;
  text-align: center;
  margin-left: 60px;
  margin-top: 30px;
  cursor: pointer;
}

.mianCardDiv:hover{
  border: 1px solid black;
}

img{
  height: 170px;
}

.styling{
  margin-left: 50px;
}

.heading{
  text-align: center;
  color: #3F51B5;
  background-color: beige;
  height: 40px;
  padding-top: 20px;
}